<%@ Master Language="C#" MasterPageFile="~/SiteAuth.Master" AutoEventWireup="true" CodeBehind="MasterWQX.master.cs" Inherits="OpenEnvironment.MasterWQX" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>


<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

     <asp:ContentPlaceHolder ID="BodyContent" runat="server" />
    
</asp:Content>
